@use"./../../../../public/styles/colores.scss";
@use"./../../../../public/styles/tabla.scss";

h1{
    color: rgb(19, 19, 19);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
#tabla{
    display: flex;
    flex-direction: column;
    #header-tabla{
        font-size: larger;
    }
    >div{
        display: grid;
        grid-template-columns: 180px 1fr 1fr 1fr;
        border-bottom: 1px solid black;
        padding: 20px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 20px;
    }
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: colores.$color-principal;
    padding: 10px;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    color:rgb(19, 19, 19);
    font-size: 22px;
    font-weight: bolder;
}
img{
    height: 60px;
    margin-right: 50px;
}
footer{
    display: flex;
    justify-content:end;
}
button img{
    height: 40px;
}
div .boton-resaltado{
    background-color: colores.$color-boton;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 12px;
    border-radius: 50px;
}