$color-header:rgb(70, 96, 109);
$color-fondo: rgb(155, 147, 147);
$color-texto: rgb(19, 19, 19);
$color-texto-invertido: rgb(243, 230, 230);
$color-correcto:rgb(50,145,50);
$color-error:rgb(214, 37, 37);
$color-boton-secundario:rgb(253, 253, 253);
$color-login:rgb(245, 245, 245);
$color-boton:#FF9F43;
$color-boton-ingreso:#FFFFFF;
$color-titulos: #314b91;
$color-tipografia: #d2d2d6;
