
<header>
    <h1>{{titulo}}</h1>
    <a href="">Estado cocheras</a>
    <a href=""> <img src="imagenes/icono persona.webp" alt="icono persona"></a>
</header>
<div>
    <button (click)="agregarFila()" class="boton-resaltado">Agregar fila</button>
</div>
<div id="tabla">
    <div id="header-tabla">
        <div>{{header.nro}}</div>
        <div>{{header.disponibilidad}}</div>
        <div>{{header.ingreso}}</div>
        <div>{{header.acciones}}</div>        
    </div>
    @for(fila of filas; track $index){
        <div>
            <div>{{fila.id}}</div>
            <div> <span [ngClass]="{disponible:!fila.deshabilitada, ocupado: !fila.deshabilitada}">{{fila.deshabilitada 
            ? "No Disponible"
            :"Disponible"}}</span></div>
            <div>{{fila.descripcion}}</div>
            <div> <button (click)="CambiarDisponibilidadCochera(fila.id)" class="boton-eliminar"><img src="imagenes/prohibido.png" alt="eliminar"></button>
             <button (click)="eliminarFila(fila.id)" class="boton-eliminar"><img src="imagenes/tacho.png" alt="eliminar"></button>
            </div>
        </div>
    }
    
<footer>
    <a [routerLink]="['/login']" >Cerrar sesión</a>
</footer>