@use"./../../../../public/styles/colores.scss";
@use"./../../../../public/styles/tabla.scss";




header {
  background-color: colores.$color-titulos;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: colores.$color-texto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-right: 2rem;
  }

  .reporte {
    color: colores.$color-texto;
    font-family: sans-serif;
    justify-content: space-between;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s;
    
    &:hover {
      color: #ccc;
    }
  }


  .logo {
    width: 60px;
    height: 60px;
    align-items: center;
  }
}

// Tabla
#tabla {
  margin: 2rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px colores.$color-texto;

  #header-tabla {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    background-color: colores.$color-fondo;
    font-size: 20px;
    color: colores.$color-texto;
    padding: 1rem;
    font-weight: bold;

    div {
      text-align: center;
    }
  }

  .fila-tabla {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    padding: 1rem;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid colores.$color-texto;
    width: 100%;
    text-align: left;
    cursor: pointer;
   
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// Estados y botones
.patente-activa {
  color: colores.$color-texto;
  font-weight: bold;
}

.disponible {
  color: colores.$color-texto;
}

.ocupado {
  color: colores.$color-texto;
}

.acciones-container {
    display:flex;
    align-items: center;
    justify-content: center;

    button img {
      width: 40px;
      height: 40px;
    }
  }

// Footer
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid colores.$color-texto;
  background-color: colores.$color-titulos;
  display: flex;
  justify-content:space-around;
  align-items: center;

  .boton-resaltado {
    background-color: colores.$color-boton-secundario;
    color:colores.$color-texto;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken(colores.$color-boton, 10%);
    }
  }

  a {
    color: colores.$color-texto;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}

