<header>
    <h1>PARKING APP</h1>
    <a [routerLink]="['/estado']" class="reporte">ESTADO COCHERAS</a>
    <a [routerLink]="['/reportes']" class="reporte">REPORTE</a>
    <a [routerLink]="['/login']" class ="reporte">INICIAR SESION </a>
    <a href=""><img src="imagenes/icono persona.webp" alt="logo" class="logo"></a>
</header>

    <div id="tabla">
        <div id="header-tabla">
           <div>{{header.nro}}</div>
           <div>{{header.disponibilidad}}</div>
           <div>{{header.ingreso}}</div>
           <div>{{header.acciones}}</div>
        </div>
    @for (fila of filas; track $index){
        <button class="fila-tabla" (click)="abrirModalNuevoEstacionamiento(fila.id)"[disabled]="fila.deshabilitada|| fila.activo ">
            <div>{{fila.id}}</div>
            
            @if(fila.activo){
                <div (click)="abrirModalPago(fila.id, fila.activo.patente)">{{fila.activo.patente}}</div> <!-- Aquí agregas el (click) -->
            
            }@else if (fila.deshabilitada){
                <div><span class="ocupado">NO DISPONIBLE</span></div>
            } @else {
                <div><span class = "disponible">DISPONIBLE</span></div>
            }
            <div>{{fila.activo?.horaIngreso}}</div>
            <div class="acciones-container">
                <button (click)="cambiarDisponibilidadCochera($index,$event)"> <img src="imagenes/prohibido.png" alt="prohibido"></button>
                <button (click)="eliminarFila($index,$event)"> <img src="imagenes/tacho.png" alt="okey"></button> 
            </div>
        </button>
    
    
        }
    
    <footer>
        <div>
            <button (click) = "agregarFila()" class="boton-resaltado">AGREGAR FILA</button>           
        </div>
        <a [routerLink]="['/login']" >Cerrar sesión</a>
    </footer>