@use"./../../../public/styles/colores.scss";
@use"./../../../public/styles/tabla.scss";

  
  header {
    background-color: colores.$color-titulos;
    padding: 10px;
    color: colores.$color-texto;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    h1 {
        color: colores.$color-texto;
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        margin-right: 2rem;
      }
  
    .reporte {
      color: colores.$color-texto;
      font-family: sans-serif;
      font-weight: bold;
      text-decoration: none;
      padding: 0.5rem 1rem;
      margin-left: 1rem;
  
      &:hover {
        color: #ccc;
      }
    }
  
    .logo {
        width: 60px;
        height: 60px;
        align-items: center;
    }
  }
  
  #tabla {
    margin: 2rem;
    font-size: 18px;
  
    .header-tabla {
      background-color: colores.$color-fondo;;
      color: colores.$color-texto;
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 10px;
      font-weight: bold;
    }
  
    .fila-tabla {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 1rem;
      border-bottom: 1px solid #ccc;
  
      &:nth-child(even) {
        background-color: #f5f5f5;
      }
    }
  }