<header>
    <h1>PARKING APP</h1>
    <a [routerLink]="['/estado-cocheras']" class="reporte">ESTADO COCHERAS</a>
  <a [routerLink]="['/reportes']" class="reporte">REPORTE</a>
  <a [routerLink]="['/login']" class="reporte">INICIAR SESION</a>
    <a href="#"><img src="imagenes/icono persona.webp" alt="logo" class="logo"></a>
</header>


<div id="tabla">
    <div class="header-tabla">
        <div>Mes</div>
        <div>Usos</div>
        <div>Cobrado</div>
      </div>
    <div>
  
    @for (reporte of reporteEstacionamientos; track $index) {
        <div class="fila-tabla">
          <div>{{ reporte.mes }}</div>
          <div>{{ reporte.usos }}</div>
          <div>{{ reporte.cobrado | currency }}</div>
        </div>
      }
    </div>    
  </div>
