@use"./../../../../public/styles/colores.scss";
@use"./../../../../public/styles/tabla.scss";

header.p{
    color: colores.$color-texto;
    justify-content: space-between;
    margin-top: 25px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: colores.$color-principal;
    padding: 10px;
    margin-bottom: 50px;
}


h1{
    color: colores.$color-texto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
a{
    text-decoration: none;
    color: colores.$color-texto;
    font-weight: 700;
    margin-bottom: 25px;  
}
div{
    margin-top: 20px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
#tabla{
    display:flex;
    flex-direction: column;
    text-align: center;
    #header-tabla{
        font-size: larger;
        font-weight: 700;
        display: grid;
    }
    >div, >button{
        display: grid;
        grid-template-columns: 50px 1fr 1fr 1fr;
        border-bottom: 1px solid black;
        text-align: center;
    }
    
}
.logo{
    width: 45px;
    height: 45px;
   align-items: center;
}


