<header>
    <h1>PARKING APP</h1>
    <a [routerLink]="['/estado']" class="reporte">ESTADO COCHERAS</a>
    <a [routerLink]="['/reportes']" class="reporte">REPORTE</a>
    <a [routerLink]="['/login']" class="reporte">INICIAR SESION</a>
    <a href="#"><img src="imagenes/icono persona.webp" alt="logo" class="logo"></a>
</header>

<div id="tabla">
    <div class="header-tabla">
        <div>Nro</div>
        <div>Mes</div>
        <div>Usos</div>
        <div>Cobrado</div>
    </div>
  <div>
    @for (reporte of reporte; track $index) {
        <div class="fila-tabla">
          <div>{{ $index + 1 }}</div>
          <div>{{ reporte.mes }}</div>
          <div>{{ reporte.usos }}</div>
          <div>{{ reporte.cobrado | currency }}</div>
        </div>
      }
      
  </div>
